@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro");

body {
  background: #59566b;
  color: #eeeeee;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 780px;
}

.title {
  text-align: center;
  color: #eeeeee;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 3.8em;
  margin: 0.6em 0 0.4em;
  font-weight: 300;
}

.fn {
  color: #dfa1ff;
  font-size: 0.9em;
}

.btn {
  display: inline-block;
  cursor: pointer;
}

.start-find-btn {
  margin: 1.3em;
  color: #ffffff;
  background: rgb(175, 128, 206);
  padding: 0.9em;
  border-bottom: 2px solid rgb(114, 83, 134);
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  &:hover {
    background: rgb(195, 144, 230);
  }
}

code {
  font-family: "Source Code Pro", monospace;
  background: #6f6f6f;
}

.CodeMirror {
  font-size: 1.1em;
  font-family: "Source Code Pro", monospace;
  border-radius: 10px;
  height: auto;
  width: 780px;
  max-width: 100%;
  padding: 0.9em;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border: 6px solid #3e3c4b;
}

.cm-searching {
  background-color: rgba(255, 255, 255, 0.2);
}

.function-name {
  font-size: 1.2em;
}

.result {
  background: #3d9c1a;
  padding: 0.9em;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border: 6px solid lighten(#3d9c1a, 5%);
  a {
    color: #c0ff8e;
  }
}

.result-error {
  background: #b40000;
  padding: 0.9em;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border: 6px solid lighten(#b40000, 5%);
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
